

#navbar-container {
    background-color: #0d6efd;
}

#navbar .list-group-item {
}

#navbar i {
    width: 16px;
    height: 18px;
    margin-right: 4px;
}

#content-container {
    background-color: #0d6efd;
}

#sidebar-container {
    background-color: #0a53be;
}

#search-bar {
    background-color: darkslategray;
    border-radius: 30px;
}

.search-input {
    background-color: transparent;
    border: none;
}

.search-input:focus {
    outline: none;
}
