body {
    font-family: Arial;
    background-color: black;
}

.wd-container {
    width: 600px;
    margin-left: 5%;
}

.wd-topbar {
    border: 1px solid rgb(47, 51, 54);
}

.wd-search-bar {
    width: 85%;
    height: 36px;
    background-color: #2c3034;
    font-size: medium;
    text-indent: 50px;
    color: white;
    border-style: none;
    border-radius: 40px;
    margin: 10px 15px;
}

.wd-search-bar::placeholder {
    color: white;
}

.wd-settings-icon {
    position: relative;
    top: 12px;
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 12px;

}

.wd-tabs-list {
    display: block;
    width: 100%;
    height: 22px;
    padding: 0px 0px;
    font-weight: bold;
}

.wd-tab {
    display: inline;
    font-size: 15px;
    padding: 16px;
}

a {
    text-decoration: none;
    color: rgb(110, 118, 125);
}

.wd-selected {
    color: rgb(29, 161, 242);
    text-decoration: none;
    padding-bottom: inherit;
    border-bottom: 4px solid rgb(29, 161, 242);
}

.wd-posts-container {

}

.wd-post-wrapper {
    padding: 16px;
    border: 1px solid rgb(47, 51, 54);
    border-top: none;
    font-size: 13px;
    color: rgb(110, 118, 125);
    display: flex;
}

.wd-post-text {
    display: block;
    width: 100%;
}

.wd-author {
    display: inline;
    font-weight: bold;
    color: white;
    margin: 5px 0;
}

.wd-thumbnail {
    border-radius: 20px;
    float: right;
    width: 100px;
    height: 100px;
}

.wd-title {
    font-weight: bold;
    margin: 5px 0;
    color: white;
}